.messenger-online-friend{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.messenger-online-friend-wrapper{
    position: relative;
}

.messenger-online-friend-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.messenger-online-friend-green{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.messenger-online-friend span{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}